<div class="row d-flex justify-content-center  mt-5 mb-2" id="cards">
    <div class="col-md-8 text-center">
        <div class="card border-0">
            <div class="card-body" id="so-funkt">
                <img src="assets/images/layouts/title_bg.png" alt="line" class="">
                <h2 class="card-title title2"> Der beste Malwettbewerb aller Zeiten.
                </h2>
                <h3 style="color: #c85239;"> Und so funktioniert's!</h3>
                <img src="assets/images/layouts/title_bg.png" alt="line" class="">
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-4 g-4">
    <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="card h-100 card1">
            <img src="assets/images/layouts/Vorlage-Webseite.jpg" class="card-img-top rounded-circle shadow img_card"
                alt="Bee">
            <div class="card-body">
                <h5 class="card-title text-center" id="c1-title">ZEICHNEN</h5>
                <p class="card-text text-center" id="firstCard">
                    Das Thema des heurigen Wettbewerbes: zeichne oder male, was Dein größer Wunsch für das
                    nächste Jahr ist. Was möchtest Du gern erleben, sehen, unternehmen, was ist Dein
                    sehnlichster Traum?
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="card h-100 card2">
            <img src="assets/images/layouts/Vorlage-Webseite2.jpg" class="card-img-top rounded-circle shadow img_card"
                alt="Bee">
            <div class="card-body text-center">
                <h5 class="card-title" id="c2-title">DIGITALISIEREN</h5>
                <p class="card-text text-center" id="secondCard">
                    Das Kunstwerk bitte scannen oder fotografieren und bis spätestens 5. November 2021 mittels
                    nachstehendem Kontaktformular hochladen und einreichen.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="card h-100 card3">
            <img src="assets/images/layouts/Vorlage-Webseite3.jpg" class="card-img-top rounded-circle shadow img_card"
                alt="Bee">
            <div class="card-body">
                <h5 class="card-title text-center" id="c3-title">AUSSTELLEN</h5>
                <p class="card-text text-center" id="thirdCard">In der großen Sumsi Galerie werden dann alle
                    Kunstwerke online
                    ausgestellt. Deine Freunde, Familie, Großeltern und Nachbarn können dort deine Zeichnung
                    bewundern.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="card h-100 card4">
            <img src="assets/images/layouts/Vorlage-Webseite4.jpg" class="card-img-top rounded-circle shadow img_card"
                alt="Bee">
            <div class="card-body text-center">
                <h5 class="card-title" id="c4-title">GEWINNEN</h5>
                <p class="card-text text-center" id="fourthCard">
                    Jede Zeichnung ist großartig! Aus allen eingereichten Kunstwerken werden 10 Zeichnungen
                    gezogen. Auf diese 10 warten tolle Preise!
                </p>
            </div>
        </div>
    </div>
</div>