<div class="row hero-section"
    style=" background: url('assets/images/layouts/malwettbewerb 1.jpg') center / cover no-repeat;"
    id="enImage">
    <img src="/assets/images/layouts/Untitled-1.png" class="actionimage" alt="fliegen">
</div>
<div class="row  d-flex justify-content-center">

    <div class="col-md-8 text-center">

        <div class="card border-0">
            <div class="card border-0">
                <div class="card-body">
                    <img src="assets/images/layouts/title_bg.png" alt="line" class="">
                    <h2 class="card-title title2" id="herzlich"> Herzlich Willkommen beim Grossen SUMSI Malwettbewerb
                    </h2>
                    <img src="assets/images/layouts/title_bg.png" alt="line" class="">
                </div>
            </div>
            <img class="card-img-top" src="assets/images/layouts/love.png" alt="Card image cap" id="info">
        </div>
        <div class="card-body bg-warning mt-2" style="font-size: 22px;" id="liebe">
            <p>Liebe Kinder, liebe Eltern,
                <br> wie jedes Jahr gibt es auch heuer unseren traditionellen Sumsi Malwettbewerb.
                <br> Wieder digital, wieder mit Voting und großer Online-Galerie
                <br> Jedes Elternteil, das bis zum 5. November 2021 die Zeichnung seines Kindes mithilfe des
                nachstehenden Kontaktformulares hochlädt und einreicht, wird anschließend in der großen Sumsi Galerie
                auf <a href="/" style="font-size:22px;">www.raiffeisen-sumsi.at</a> veröffentlicht.
                <br> Ich freue mich auf viele bunte Zeichnungen.
            </p>
            <h6 class="h6-card">Eure Raiffeisen Sumsi</h6>
        </div>
    </div>
</div>
</div>