<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--  <link href="fontawesome-free-5.15.4/css/all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!--load all styles -->
    <link rel="stylesheet" href="../css/Style.css">
    <title>Sumsi Malwettbewerb</title>
    <Link rel="icon" href="../assets/images/logo1.png">
</head>

<body>
    <div class="container-fluid">

        <!-- nav starts-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/images/logo/RLB_Logo_4c_NEW.jpg" alt="logo" width="100%" height="44"
                        class="d-inline-block align-text-top">

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="background-two link-container">
                                <a class="nav-link active link-two" aria-current="page"
                                    href="../index.html">HomePage</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="background-two link-container">

                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='./cookie.html'">
                                    <img src="/assets/icons/germany.png" alt="deutsch">

                                </button>
                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='/views/cookieEn.html'">
                                    <img src="/assets/icons/united-states.png" alt="english">

                                </button>
                            </div>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- nav ends -->

        <div class="container-fluid">
            <div class="row row4 mt-5">
                <div class="card mt-5 mb-5 col-md-6 shadow">
                    <h1 class="title2">Cookie Policy</h1>

                </div>
            </div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item"><a href="../index.html" class="a_breadcrumb-item">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cookie Policy</li>
                </ol>
            </nav>

            <div class="row d-flex justify-content-center">
                <div class=" card border-0 col-md-8">

                    <p class="card-text">

                        We take the protection of your personal data very seriously. We treat your personal
                        Data confidential and in accordance with legal regulations. In this privacy policy
                        we will inform you about data processing within the framework of our
                        Website. The use of our website is usually without giving your own details
                        personal data possible. As far as personal data on our pages
                        (e.g. name, address or email addresses)
                        this is always done in order to enable the use of the website or on
                        voluntary basis. For example, the processing of the IP address is for technical reasons and
                        cannot be prevented.
                    </p>
                    <br>


                    <h1>
                        DATA PROTECTION RESPONSIBLE
                    </h1>

                    <p class="card-text">
                        This website is operated by the Raiffeisenlandesbank Kärnten- Rechenzentrum und
                        Revisionsverband,
                        registered cooperative with limited liability, Raiffeisenplatz 1, 9020 Klagenfurt am
                        Wörthersee, operated. Alternatively, you can also contact our
                        Contact the data protection officer:
                        <br>
                        <a class="a_footer" href="" style="font-size: 16px;color: blue;">
                            datenschutz@rbgk.raiffeisen.at</a>
                        <br> Raiffeisenplatz 1 | 9020 Klagenfurt am Wörthersee
                        <br> T +43 463 993 00-12201

                    </p>
                    <h1>
                        COOKIES
                    </h1>
                    <p class="card-text">

                        Our website uses so-called cookies. Cookies are text files that are saved when you visit the
                        Website can be saved on your device. We use cookies for anonymized analyzes
                        using the website. We also use cookies
                        to be able to offer you additional functions on the website for interactions with
                        to make the website simpler and to ensure error-free use (e.g. for
                        Facilitate navigation on a
                        Website or to save your preferences and settings for your next visit).
                    </p>

                    <p>
                        <strong>
                            Required cookies:
                        </strong> Process cookies that are necessary for the basic functions of the website
                        we based on our legitimate interest in being able to present our content to you, or
                        due to contractual or legal
                        Obligations to provide you with information on our website.
                    </p>


                    <p class="card-text">
                        <strong>
                            Functional cookies:
                        </strong> We use cookies that enable us to analyze website usage
                        we based on your consent given when using our website.
                    </p>

                    <p>
                        <strong>
                            Marketing-Cookies:
                        </strong> Cookies that enable us to provide you with advertising tailored to your interests
                        We also use them on the basis of your declarations when using our website
                        Consent. Some cookies stay open
                        Stored on your device until you delete them. They allow us to use your browser when
                        to recognize your next visit. Most of the cookies we use are after the end
                        when you visit our website
                        (so-called session cookies). Cookies can be blocked, deactivated or deleted.
                        You can use a variety of tools to do this, including
                        Browser controls and settings). information
                        you can find this in the help area of ​​the web browser you are using. When deactivating
                        of all cookies we use, e.g. the display of the website may be restricted.
                    </p>


                </div>

            </div>

            <!-- footer -->
            <div class="row mt-5 ">
                <img class="pic-1 mt-5 mb-5" src="../assets/images/layouts/footer_top_strip.jpg" alt="line">
                <div class="card mb-3 mt-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <div class="card border-0">
                                <img src="../assets/images/layouts/jubelde-sumsi-schriftzug-1.png"
                                    class="card-img-top rounded-circle" alt="sumsi">

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning">
                            <div class="card-body">
                                <h5 class="card-title text-center title_footer mb-3">Contact</h5>
                                <p class="card-text"><i class="fa fa-map-marker-alt  fa-lg"
                                        aria-hidden="true"></i>&nbsp; Raiffeisen Landesbank Kärnten, Raiffeisenplatz 1
                                    9020 Klagenfurt am Wörthersee</p>

                                <p class="card-text">
                                    <i class="fa fa-phone fa-rotate-90 fa-lg" aria-hidden="true"></i> &nbsp; T +43 463
                                    993 00
                                </p>
                                <p class="card-text">
                                    <i class="far fa-envelope fa-lg" aria-hidden="true"></i> &nbsp;
                                    info@rbgk.raiffeisen.at
                                </p>


                                <a href="" class="btn btn-primary ">

                                    <i class="fab fa-facebook-square text-white rounded-circle fa-2x"></i> facebook
                                </a>

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning ">
                            <div class="card-body">
                                <h4 class="card-title text-center title_footer mb-3">INFO/CONDITIONS</h4>
                                <ul style="  list-style-type: none;">
                                    <li>
                                        <a class="a_footer" href="/views/datenschutzhEn.html">
                                            <p> <i class="far fa-star"></i> Data protection notice</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/impressumEn.html">
                                            <p> <i class="far fa-star"></i> imprint</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/cookieEn.html">
                                            <p> <i class="far fa-star"></i>Cookie Policy</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/teilnahmebedingungenEn.html">
                                            <p> <i class="far fa-star"></i> Conditions of participation</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/agb.html">
                                            <p> <i class="far fa-star"></i> AGB</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/disclaimer.html">
                                            <p> <i class="far fa-star"></i> Disclaimer</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0">
                                <img src="../assets/images/layouts/jubelde-sumsi-schriftzug-1 (2).png"
                                    class="card-img-top rounded-circle" alt="sumsi">

                            </div>
                        </div>
                    </div>
                </div>
                <img class="pic-1 mt-5 mb-3" src="../assets/images/layouts/footer_top_strip.jpg" alt="line">

            </div>
        </div>

</body>

</html>