<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--  <link href="fontawesome-free-5.15.4/css/all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!--load all styles -->
    <link rel="stylesheet" href="../css/Style.css">
    <title>Sumsi Malwettbewerb</title>
    <Link rel="icon" href="../assets/images/logo1.png">
</head>

<body>
    <div class="container-fluid">

        <!-- nav starts-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/images/logo/RLB_Logo_4c_NEW.jpg" alt="logo" width="100%" height="44"
                        class="d-inline-block align-text-top">

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="background-two link-container">
                                <a class="nav-link active link-two" aria-current="page"
                                    href="../index.html">HomePage</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="background-two link-container">

                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='/views/datenschutzh.html'">
                                    <img src="/assets/icons/germany.png" alt="deutsch">

                                </button>
                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='/views/datenschutzhEn.html'">
                                    <img src="/assets/icons/united-states.png" alt="english">

                                </button>
                            </div>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- nav ends -->

        <!-- container start -->

        <div class="container-fluid">
            <div class="row row4 mt-5">
                <div class="card mt-5 mb-5 col-md-6 shadow">
                    <h1 class="title2">Data protection information according to GDPR</h1>

                </div>



            </div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item"><a href="../index.html" class="a_breadcrumb-item">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data protection information according to GDPR
                    </li>
                </ol>
            </nav>

            <div class="row d-flex justify-content-center">
                <div class=" card border-0 col-md-8">
                    <p class="card-text">

                        Data protection information according to Art. 13 GDPR for the Sumsi painting competition
                    </p>
                    <br>
                    <br>
                    <p class="card-text">
                        We treat your personal data confidentially and in accordance with legal requirements
                        Regulations. We hereby inform you about the processing of your personal data
                        as well as that of your child and the data protection law to which you are entitled
                        Claims and Rights. The content and scope of the data processing depends largely on
                        known by you in the context of the painting competition via the online contact form
                        given information.
                    </p>
                    <strong>
                        Who is responsible for data processing and who can you contact

                    </strong>
                    <br>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            Responsible for data processing is
                        </li>
                        <li class="list-group-item">
                            Raiffeisenlandesbank Kärnten- Computer Center and Auditing Association, registered
                            Limited Liability Cooperative
                        </li>
                        <li class="list-group-item">
                            Raiffeisenplatz 1 I 9020 Klagenfurt am Wörthersee
                        </li>
                        <li class="list-group-item">
                            T + 43 406 993 00
                            <br> info@rbgk.raiffeisen.at
                        </li>
                        <li class="list-group-item">
                            Alternatively, you can also contact the data protection officer:
                        </li>
                        <li class="list-group-item">
                            datenschutz@rbgk.raiffeisen.at
                            <br> Raiffeisenplatz 1 I 9020 Klagenfurt am Wörthersee
                            <br> T +43 463 993 00 - 12201
                        </li>
                    </ul>

                    <strong>
                        Which personal data are processed in the context of the painting competition?

                    </strong>
                    <p class="card-text">

                        We process the personal data that we receive from you in the context of the painting competition
                        via the online contact form. Personal data include yours
                        personal details and contact details (first and last name, email address)
                        as well as that of your child (first name and age).
                    </p>
                    <strong>
                        For what purpose are your personal data and that of your child processed?
                    </strong>
                    <p class="card-text">
                        Your given personal data as well as that of your child to participate in the painting
                        competition
                        are used by the Raiffeisen Landesbank exclusively for the implementation and processing of the
                        Used in the painting competition. Your child's first name and your email address
                        is required for the determination and communication of the winners and only for this purpose
                        processed.
                    </p>
                    <strong>
                        Who will receive the personal data you have provided?
                    </strong>
                    <p class="card-text">
                        Your personal data and that of your child will only be received by those employees of
                        Raiffeisen Landesbank Kärnten, who handle the painting competition, to determine the winners and
                        to be able to communicate. Any other transfer of your data to third parties
                        does not take place.
                    </p>
                    <strong>
                        How long will the personal data you provide be stored?
                    </strong>
                    <p class="card-text">
                        Your personal data as well as that of your child will be processed after the completion of the
                        Painting competition and after the winners have been determined and notified. The deletion of
                        your
                        Data as well as that of your child will take place no later than 30.11.2020.
                    </p>
                    <strong>
                        What data protection rights do you have?
                    </strong>
                    <p> You have the right to information, correction, deletion or restriction of processing
                        Your and your child's stored data, a right to data portability, the right to
                        Objection to the processing as well as a
                        Right of withdrawal in accordance with the requirements of data protection law. Related requests
                        You can send it to <a href="" style="font-size: 15px;"> datenschutz@rbgk.raiffeisen.at </a>
                        set up. </p>
                    <p>
                        This does not affect your right to contact the responsible data protection authority by e-mail
                        to <a href="" style="font-size: 15px;"> dsb@dsb.gv.at </a> or by post to Austrian
                        Data Protection Authority, Barichgasse 40-42, 1030 Vienna
                        to complain.
                    </p>
                    <p class="mt-5">
                        Status: October 2020
                    </p>
                </div>

            </div>

            <!-- footer -->
            <div class="row mt-5 ">
                <img class="pic-1 mt-5 mb-5" src="../assets/images/layouts/footer_top_strip.jpg" alt="line">
                <div class="card mb-3 mt-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <div class="card border-0">
                                <img src="../assets/images/layouts/jubelde-sumsi-schriftzug-1.png"
                                    class="card-img-top rounded-circle" alt="sumsi">

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning">
                            <div class="card-body">
                                <h5 class="card-title text-center title_footer mb-3">Contact</h5>
                                <p class="card-text"><i class="fa fa-map-marker-alt  fa-lg"
                                        aria-hidden="true"></i>&nbsp; Raiffeisen Landesbank Kärnten, Raiffeisenplatz 1
                                    9020 Klagenfurt am Wörthersee</p>

                                <p class="card-text">
                                    <i class="fa fa-phone fa-rotate-90 fa-lg" aria-hidden="true"></i> &nbsp; T +43 463
                                    993 00
                                </p>
                                <p class="card-text">
                                    <i class="far fa-envelope fa-lg" aria-hidden="true"></i> &nbsp;
                                    info@rbgk.raiffeisen.at
                                </p>


                                <a href="" class="btn btn-primary ">

                                    <i class="fab fa-facebook-square text-white rounded-circle fa-2x"></i> facebook
                                </a>

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning ">
                            <div class="card-body">
                                <h4 class="card-title text-center title_footer mb-3">INFO/CONDITIONS</h4>
                                <ul style="  list-style-type: none;">
                                    <li>
                                        <a class="a_footer" href="/views/datenschutzhEn.html">
                                            <p> <i class="far fa-star"></i> Data protection notice</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/impressumEn.html">
                                            <p> <i class="far fa-star"></i> imprint</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/cookieEn.html">
                                            <p> <i class="far fa-star"></i>Cookie Policy</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/teilnahmebedingungenEN.html">
                                            <p> <i class="far fa-star"></i> Conditions of participation</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/agb.html">
                                            <p> <i class="far fa-star"></i> AGB</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/disclaimer.html">
                                            <p> <i class="far fa-star"></i> Disclaimer</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

</body>

</html>