<!-- footer -->
<div class="row mt-3 " id="footer-tran">
    <img class="pic-1 mt-5 mb-5" src="assets/images/layouts/footer_top_strip.jpg" alt="line">
    <div class="card mb-3 mt-3 border-0">
        <div class="row g-0">
            <div class="col-md-3">
                <div class="card border-0">
                    <img src="assets/images/layouts/jubelde-sumsi-schriftzug-1.png" class="card-img-top rounded-circle"
                        alt="sumsi">
                </div>
            </div>
            <div class="col-md-3 bg-warning">
                <div class="card-body">
                    <h5 class="card-title text-center title_footer mb-3">KONTAKT</h5>
                    <p class="card-text"><i class="fa fa-map-marker-alt  fa-lg" aria-hidden="true"></i>&nbsp; Raiffeisen
                        Landesbank Kärnten, Raiffeisenplatz 1 9020 Klagenfurt am Wörthersee</p>
                    <p class="card-text">
                        <i class="fa fa-phone fa-rotate-90 fa-lg" aria-hidden="true"></i> &nbsp; T +43 463 993 00
                    </p>
                    <p class="card-text">
                        <i class="far fa-envelope fa-lg" aria-hidden="true"></i> &nbsp; info@rbgk.raiffeisen.at
                    </p>
                    <a href="https://www.facebook.com/RaiffeisenLandesbankKaernten/" class="btn btn-primary ">

                        <i class="fab fa-facebook-square text-white rounded-circle fa-2x"></i> facebook
                    </a>
                </div>
            </div>
            <div class="col-md-3 bg-warning ">
                <div class="card-body">
                    <h4 class="card-title text-center title_footer mb-3">INFO/BEDINGUNGEN</h4>
                    <ul style="  list-style-type: none;">
                        <li>
                            <a class="a_footer" href="/views/datenschutzh.html">
                                <p> <i class="far fa-star"></i> Datenschutzhinweise</p>
                            </a>
                        </li>
                        <li>
                            <a class="a_footer" href="/views/impressum.html">
                                <p> <i class="far fa-star"></i> Impressum</p>
                            </a>
                        </li>
                        <li>
                            <a class="a_footer" href="/views/cookie.html">
                                <p> <i class="far fa-star"></i>Cookie Richtlinien</p>
                            </a>
                        </li>
                        <li>
                            <a class="a_footer" href="/views/teilnahmebedingungen.html">
                                <p> <i class="far fa-star"></i> Teilnahmebedingungen</p>
                            </a>
                        </li>
                        <li>
                            <a class="a_footer"
                                href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/agb.html">
                                <p> <i class="far fa-star"></i> AGB</p>
                            </a>
                        </li>
                        <li>
                            <a class="a_footer"
                                href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/disclaimer.html">
                                <p> <i class="far fa-star"></i> Disclaimer</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-0">
                    <img src="assets/images/layouts/jubelde-sumsi-schriftzug-1 (2).png"
                        class="card-img-top rounded-circle" alt="sumsi">

                </div>
            </div>
        </div>
    </div>
    <img class="pic-1 mt-5 mb-3" src="assets/images/layouts/footer_top_strip.jpg" alt="line">

</div>