<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--  <link href="fontawesome-free-5.15.4/css/all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!--load all styles -->
    <link rel="stylesheet" href="../css/Style.css">
    <title>Sumsi Malwettbewerb</title>
    <Link rel="icon" href="../assets/images/logo1.png">
</head>

<body>
    <div class="container-fluid">

        <!-- nav starts-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/images/logo/RLB_Logo_4c_NEW.jpg" alt="logo" width="100%" height="44"
                        class="d-inline-block align-text-top">

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="background-two link-container">
                                <a class="nav-link active link-two" aria-current="page"
                                    href="../index.html">HomePage</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="background-two link-container">

                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='/views/impressum.html'">
                                    <img src="/assets/icons/germany.png" alt="deutsch">

                                </button>
                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='/views/impressumEn.html'">
                                    <img src="/assets/icons/united-states.png" alt="english">

                                </button>
                            </div>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- nav ends -->

        <div class="container-fluid " style="background-color: rgb(222, 233, 233);">
            <div class="row row4 mt-5">
                <div class="card mt-5 mb-5 col-md-6 shadow">
                    <h1 class="title2">Imprint</h1>
                </div>
            </div>


            <div class="row d-flex justify-content-center ">
                <!-- path -->
                <div class=" card mt-1  col-md-8">
                    <nav aria-label="breadcrumb ">
                        <ol class="breadcrumb mt-1 mb-5">
                            <li class="breadcrumb-item"><a href="../index.html" class="a_breadcrumb-item">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Imprint</li>
                        </ol>
                    </nav>

                    <h4>INFORMATION ACCORDING TO SECTION 5 E-COMMERCE LAW</h4>
                    <strong>Providers:</strong>
                    <p>Raiffeisenlandesbank Kärnten – Computing Center and Auditing Association, Registered Cooperative
                        with limited liability</p>
                    <strong>
                        Company headquarters (also postal address):
                    </strong>
                    <p>
                        Raiffeisenplatz 1
                    </p>
                    <p>
                        9020 Klagenfurt am Wörthersee
                    </p>
                    <strong>
                        Contact:
                    </strong>
                    <p>
                        Mag. Maria Wohlgemuth <br>T +43 463 993 00-12812 <br>maria.wohlgemuth@rbgk.raiffeisen.at
                    </p>
                    <strong>
                        Commercial register number:
                    </strong>
                    <p>
                        FN 116094b at the Klagenfurt Regional Court
                    </p>
                    <strong>
                        Sales tax identification number:
                    </strong>
                    <p>
                        ATU25330807
                    </p>
                    <strong>
                        Austrian Data Processing Register (DVR):
                    </strong>
                    <p>
                        0044474
                    </p>
                    <strong>
                        Bank code:
                    </strong>
                    <p>
                        39000
                    </p>
                    <strong>
                        BIC (SWIFT):
                    </strong>
                    <p>
                        RZKT AT 2K
                    </p>
                    <strong>
                        GISA-Zahl:
                    </strong>
                    <p>
                        27512357
                    </p>
                    <strong>
                        FATCA GIIN:
                    </strong>
                    <p>
                        YPDMT7.99999.SL.040
                    </p>
                    <strong class="mt-3">
                        Membership:
                    </strong>
                    <p>
                        Austrian Chamber of Commerce, Association of RaiffeisenBanks
                    </p>
                    <strong>
                        Supervisory authority and professional regulations:
                    </strong>
                    <p>
                        As a credit institute according to § 1 BWG, Raiffeisen Landesbank Kärnten is subject to the
                        official
                        Supervision of the Austrian Financial Market Authority and the Austrian National Bank as well
                        the legal regulations in particular the Austrian
                        Banking Act and the Securities Supervision Act as amended. Access
                        on these regulations: https://www.ris.bka.gv.at
                    </p>
                </div>



            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class=" card  col-md-8">
                    <h4>INFORMATION ACCORDING TO AUSTRIAN MEDIA LAW</h4>
                    <strong>
                        Editor of this website
                    </strong>
                    <p>
                        Raiffeisenlandesbank Kärnten - data center and auditing association,<br> registered
                        Limited Liability Cooperative,<br> Raiffeisenplatz 1, 9020 Klagenfurt am Wörthersee
                    </p>
                    <strong>
                        Media owner of this website
                    </strong>
                    <p>
                        Central Raiffeisen advertising <br> Am Stadtpark 9, A 1030 Vienna
                    </p>
                    <strong>
                        Head of Central Raiffeisen Advertising
                    </strong>
                    <p>
                        Petra WALTER (CEO), Dr. Bernhard MARCKHGOTT (Deputy Chair), Mag. Manuela
                        MONSBERGER (Deputy Chair)
                    </p>
                    <strong class="mt-2">
                        Further members of the Board of Directors Central Raiffeisen Advertising
                    </strong>
                    <p>
                        Mag. Rudolf SUTTNER, Christoph BACHLEITNER, Mag. Christian BEVELANDER, Mag. Raphael KIENE,
                        Johannes DERLER Die Zentrale Raiffeisenwerbungis an officially registered association
                        constituted. The purpose and activity of the association is, among other things, the common
                        Communication work (advertising and public relations).
                    </p>
                    <strong class="mt-2">
                        Basic content direction of this website
                    </strong>
                    <ul style="  list-style-type: none;">


                        <li>
                            <p> <i class="far fa-star"></i>Presentation of the Raiffeisen banking group and Raiffeisen
                                Specialized companies (e.g. Raiffeisen insurance etc.)</p>
                        </li>

                        <li>
                            <p> <i class="far fa-star"></i>Information and links to the
                                Raiffeisen Banking Group and Raiffeisen Special Companies offered products,
                                Applications and services</p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"></i>Information on the subjects of economics, foreign exchange
                                and
                                Capital markets, investment, provision, building and living</p>
                        </li>
                    </ul>
                    <strong class="mt-2">
                        ODR regulation

                    </strong>
                    <p>
                        The EU Commission offers for transactions concluded online in accordance with Article 14
                        Paragraph 1
                        ODR regulation provides the option of online dispute resolution on one of its operated
                        Online platform. This platform can be reached via the following link:
                    </p>
                    <p>
                        https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=DE
                    </p>
                    <p>
                        Our email address: info@raiffeisen.at
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class=" card  col-md-8">
                    <h4>NOTICE ABOUT OUT OF DATE WEB BROWSERS</h4>
                    <p>
                        Newer technologies only work to a limited extent when using an outdated web browser.
                        When using outdated browsers (e.g. Internet Explorer 11), we can prevent the user
                        Do not fully guarantee the experience on our website. Around
                        To ensure the best possible user experience, we ask you to switch your web browser to the
                        to update the latest version (Microsoft Edge, Google Chrome, Mozilla Firefox).


                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class=" card  col-md-8">
                    <h4>OTHER INFORMATION</h4>
                    <p>
                        Development: Raiffeisen Software GmbH <br>Operation: Raiffeisen Informatik Center Steiermark
                        GmbH
                        <br> Photos (unless otherwise stated): Adobe Stock <br> Payment slip Scanning powered by
                        PhotoPay <br> Voluntary Code of Conduct:
                        Trustmark Austria
                    </p>
                    <p class="mt-2">
                        © Raiffeisen Banking Group Austria, Vienna. All rights reserved.
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class=" card  col-md-8 ">
                    <h4> LEGAL NOTICE </h4>
                    <p>
                        Raiffeisen constantly checks and updates the information on its website. Despite everything
                        Due care, the data may have changed in the meantime. Any liability or guarantee for the
                        Topicality, correctness and completeness of the provided
                        Information can therefore not be adopted. The same goes for everyone else
                        Internet pages to which reference is made with hyperlinks. Raiffeisen is responsible for the
                        content of the
                        Internet pages that can be reached via hyperlinks,
                        not responsible.
                        <br> In addition, Raiffeisen reserves the right to make changes or additions to the
                        information provided. The content and structure of the Raiffeisen Internet pages are
                        protected by copyright. The reproduction
                        of information or data, in particular the use of texts, parts of texts or
                        Images require the prior consent of the Raiffeisen Banking Group Austria or the
                        issuing Raiffeisenbank.
                    </p>
                </div>

            </div>
            <div class="row justify-content-center fixed-bottom ">
                <div class=" col-lg-4 text-center card bg-transparent border-0">


                    <div class="d-grid gap-2 d-md-flex mx-auto">

                        <button class="btn btn-warning" type="button">
                            <i class="fa fa-user mx-auto  fa-2x  text-white rounded-circle"></i>
                        </button>
                    </div>

                    <strong>
                        MY ELBA LOGIN

                    </strong>

                </div>
                <div class="col-lg-4 text-center card bg-transparent border-0">
                    <div class="d-grid gap-2 d-md-flex mx-auto">

                        <button class="btn btn-warning" type="button">
                            <i class="fa fa-edit mx-auto  fa-2x  text-white rounded-circle"></i>
                        </button>
                    </div>
                    <strong>CONTACT FORM
                    </strong>
                </div>
                <div class="col-lg-4 text-center card bg-transparent border-0">
                    <div class="d-grid gap-2 d-md-flex mx-auto">

                        <button class="btn btn-warning" type="button">
                            <i class="far fa-calendar-minus mx-auto  fa-2x  text-white rounded-circle"></i>
                        </button>
                    </div>
                    <strong>

                        MAKE AN APPOINTMENT
                    </strong>
                </div>

            </div>
            <div class="row mt-5 ">
                <img class="pic-1 mt-5 mb-5" src="../assets/images/layouts/footer_top_strip.jpg" alt="line">
                <div class="card mb-3 mt-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <div class="card border-0">
                                <img src="../assets/images/layouts/jubelde-sumsi-schriftzug-1.png"
                                    class="card-img-top rounded-circle" alt="sumsi">

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning">
                            <div class="card-body">
                                <h5 class="card-title text-center title_footer mb-3">Contact</h5>
                                <p class="card-text"><i class="fa fa-map-marker-alt  fa-lg"
                                        aria-hidden="true"></i>&nbsp; Raiffeisen Landesbank Kärnten, Raiffeisenplatz 1
                                    9020 Klagenfurt am Wörthersee</p>

                                <p class="card-text">
                                    <i class="fa fa-phone fa-rotate-90 fa-lg" aria-hidden="true"></i> &nbsp; T +43 463
                                    993 00
                                </p>
                                <p class="card-text">
                                    <i class="far fa-envelope fa-lg" aria-hidden="true"></i> &nbsp;
                                    info@rbgk.raiffeisen.at
                                </p>


                                <a href="" class="btn btn-primary ">

                                    <i class="fab fa-facebook-square text-white rounded-circle fa-2x"></i> facebook
                                </a>

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning ">
                            <div class="card-body">
                                <h4 class="card-title text-center title_footer mb-3">INFO/CONDITIONS</h4>
                                <ul style="  list-style-type: none;">
                                    <li>
                                        <a class="a_footer" href="/views/datenschutzhEn.html">
                                            <p> <i class="far fa-star"></i> Data protection notice</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/impressumEn.html">
                                            <p> <i class="far fa-star"></i> imprint</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/cookieEn.html">
                                            <p> <i class="far fa-star"></i>Cookie Policy</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/teilnahmebedingungenEN.html">
                                            <p> <i class="far fa-star"></i> Conditions of participation</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/agb.html">
                                            <p> <i class="far fa-star"></i> AGB</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/disclaimer.html">
                                            <p> <i class="far fa-star"></i> Disclaimer</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

</body>

</html>