<div class="row mt-5 row3 flex-row-reverse" id="upload">
    <div class="col-md-9">
        <div class="card bg-warning mt-5 mb-4" id="rcorners2">
            <h1 style=" font-family: 'SW721KCI.TTF'; font-weight: bold;">
                Sumsi Malwettbewerb. <span style=" font-family: 'SW721KCI.TTF'; background-color: #c85239;
                font-weight: bold; ">Mach mit und gewinne tolle Geschenke!</span>
            </h1>
        </div>
        <div class="card-body  bg-warning  mb-5 shadow list_card" id="text2">
            <ul>
                <li class="fw-bolder">
                    <div class="d-flex">
                        <p class="fw-bolder">Zeichnen & malen</p>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <p class="fw-bolder">Digitalisieren</p> &nbsp;
                        <p>(Foto oder Scan)</p>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <p class="fw-bolder">Hochladen und einreichen bis 5. November 2021</p>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        Die&nbsp;
                        <p class="fw-bolder">Ausstellung</p> &nbsp;
                        <p>in der Sumsi-Galerie läuft ab 20. Oktober 2021.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <p>Mit Glück einen der</p> &nbsp;
                        <p class="fw-bolder">10 tollen Preise gewinnen.</p>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <p class="fw-bolder">
                            Die Eltern der Gewinner werden per Mail verständigt.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <p class="fw-bolder">
                            Der Rechtsweg ist ausgeschlossen.
                        </p>
                    </div>
                </li>
            </ul>
            <p class="ml-2">
                Ich freu mich auf viele bunte Zeichnung. Macht mit und schickt mir Eure Träume!
            </p>
            <p class="fw-bolder">
                Eure Raiffeisen Sumsi
            </p>
        </div>
    </div>
</div>