<!doctype html>
<html lang="de">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--  <link href="fontawesome-free-5.15.4/css/all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!--load all styles -->
    <link rel="stylesheet" href="../css/Style.css">
    <title>Sumsi Malwettbewerb</title>
    <Link rel="icon" href="../assets/images/logo1.png">
</head>

<body>
    <div class="container-fluid">

        <!-- nav starts-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/images/logo/RLB_Logo_4c_NEW.jpg" alt="logo" width="100%" height="44"
                        class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="background-two link-container">
                                <a class="nav-link active link-two" aria-current="page"
                                    href="../index.html">Startseite</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="background-two link-container">

                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='/views/teilnahmebedingungen.html'">
                                    <img src="/assets/icons/germany.png" alt="deutsch">

                                </button>
                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='/views/teilnahmebedingungenEn.html'">
                                    <img src="/assets/icons/united-states.png" alt="english">

                                </button>
                            </div>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- nav ends -->
        <!-- container start -->
        <div class="container-fluid">
            <div class="row row4 mt-5">
                <div class="card mt-5 mb-5 col-md-6 shadow ">
                    <h1 class="title2">Teilnahmebedingungen für den Sumsi Malwettbewerb</h1>
                </div>
            </div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item"><a href="../index.html" class="a_breadcrumb-item">Startseite</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Teilnahmebedingungen für den Sumsi
                        Malwettbewerb</li>
                </ol>
            </nav>

            <div class="row d-flex justify-content-center">
                <div class=" card border-0 col-md-8">
                    <p>
                        Jeder Elternteil, der vom 19. Oktober bis 5. November 2021 eine Zeichnung seines Kindes (das das
                        14. Lebensjahr noch nicht vollendet hat) über das vorliegende Kontaktformular einreicht, hat die
                        Chance auf den Hauptgewinn und auf weitere tolle Preise.
                        Alle eingereichten Zeichnungen werden in der großen Sumsi Galerie auf<a href=""
                            style="font-size: 15px;"> www.raiffeisen-sumsi.at</a> veröffentlicht.
                    </p>
                    <p>
                        Aus allen eingereichten Zeichnungen werden 10 Zeichnungen gezogen. Auf diese 10 Gewinner warten
                        tolle Preise.
                    </p>
                    <p class="m-2">
                        Mit der Teilnahme am Sumsi Malwettbewerb erklären die Teilnehmer, mit den folgenden
                        Teilnahmebedingungen einverstanden zu sein:
                    </p>
                    <ul style="  list-style-type: none;">


                        <li>
                            <p> <i class="far fa-star"></i> Teilnahmeberechtigt sind alle natürlichen Personen.</p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"></i> Die Teilnahme am Malwettbewerb ist kostenlos, freiwillig und
                                unabhängig von Bankgeschäften. Die Gewinner werden per Zufallsprinzip ermittelt. Der
                                Rechtsweg ist ausgeschlossen. Gewinne können nicht
                                in bar abgelöst, übertragen oder umgetauscht werden.</p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"></i> Eine Teilnahme über Gewinnspiel-Vereine oder automatisierte
                                Dienste ist nicht gestattet. Pro Person ist nur eine Teilnahme möglich. Der/Die
                                TeilnehmerIn kann im Falle des Gewinnes die Sachpreise
                                innerhalb von 4 Wochen ab elektronischer Verständigung entgegennehmen, danach verfällt
                                dieser Anspruch und der Gewinn.</p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"></i> Der Veranstalter übernimmt keine Haftung für etwaige
                                technische Schwierigkeiten.</p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"></i> Der/Die TeilnehmerIn erklärt, dass seine/ihre Einreichung
                                zum Malwettbewerb (die Zeichnung) nicht gegen die Rechte Dritter, insbesondere
                                Urheberrechte und Persönlichkeitsrechte, verstößt. Er/sie
                                erklärt sich mit der Veröffentlichung der Zeichnung im Rahmen des Malwettbewerbs bzw.
                                auf der Homepage des Veranstalters ausdrücklich einverstanden</p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"></i> Falls andere Personen an der Erstellung der Zeichnung
                                beteiligt waren oder Dritten exklusive Rechte am eingereichten Beitrag eingeräumt
                                wurden, so müssen sich diese mit der Einreichung und späteren
                                Veröffentlichung im Rahmen des Malwettbewerbs einverstanden erklären.</p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"></i> Der Veranstalter behält sich das Recht vor, in bestimmten
                                Anlassfällen von TeilnehmerInnen einen schriftlichen Nachweis für die Erfüllung der oben
                                genannten Voraussetzungen einzufordern. Wird der
                                Nachweis bei Aufforderung nicht erbracht, kann der/die TeilnehmerIn vom Veranstalter von
                                der Teilnahme ausgeschlossen werden</p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"></i> Der Veranstalter behält sich das Recht vor, TeilnehmerInnen,
                                die gegen die Teilnahmebedingungen, gegen Strafgesetze oder sonstige Vorschriften bzw.
                                die guten Sitten verstoßen oder durch technische
                                Manipulation versuchen, den Malwettbewerb in irgendeiner Form zu beeinflussen, von eben
                                diesem auszuschließen. Im Falle eines Ausschlusses vom Malwettbewerb steht es dem
                                Veranstalter frei, die Gewinne auch noch nachträglich
                                abzuerkennen und zurückzufordern.
                            </p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"></i> Der Veranstalter behält sich das Recht vor, den
                                Malwettbewerb bzw. die Verlosung jederzeit aus wichtigem Grund ohne Vorankündigung zu
                                beenden oder zu unterbrechen. Dies gilt unter anderem, wenn der
                                planmäßige Ablauf des Malwettbewerbs bzw. die Verlosung gestört oder verhindert werden
                                würde. Dem/der TeilnehmerIn erwachsen daraus keinerlei Rechte.</p>
                        </li>


                    </ul>
                </div>

            </div>
            <!-- footer -->
            <div class="row mt-5 ">
                <img class="pic-1 mt-5 mb-5" src="../assets/images/layouts/footer_top_strip.jpg" alt="line">
                <div class="card mb-3 mt-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <div class="card border-0">
                                <img src="../assets/images/layouts/jubelde-sumsi-schriftzug-1.png"
                                    class="card-img-top rounded-circle" alt="sumsi">

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning">
                            <div class="card-body">
                                <h5 class="card-title text-center title_footer mb-3">KONTAKT</h5>
                                <p class="card-text"><i class="fa fa-map-marker-alt  fa-lg"
                                        aria-hidden="true"></i>&nbsp; Raiffeisen Landesbank Kärnten, Raiffeisenplatz 1
                                    9020 Klagenfurt am Wörthersee</p>

                                <p class="card-text">
                                    <i class="fa fa-phone fa-rotate-90 fa-lg" aria-hidden="true"></i> &nbsp; T +43 463
                                    993 00
                                </p>
                                <p class="card-text">
                                    <i class="far fa-envelope fa-lg" aria-hidden="true"></i> &nbsp;
                                    info@rbgk.raiffeisen.at
                                </p>


                                <a href="" class="btn btn-primary ">

                                    <i class="fab fa-facebook-square text-white rounded-circle fa-2x"></i> facebook
                                </a>

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning ">
                            <div class="card-body">
                                <h4 class="card-title text-center title_footer mb-3">INFO/BEDINGUNGEN</h4>

                                <ul style="  list-style-type: none;">


                                    <li>
                                        <a class="a_footer" href="../views/datenschutzh.html">
                                            <p> <i class="far fa-star"></i> Datenschutzhinweise</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="../views/impressum.html">
                                            <p> <i class="far fa-star"></i> Impressum</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="../views/cookie.html">
                                            <p> <i class="far fa-star"></i>Cookie Richtlinien</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="../views/teilnahmebedingungen.html">
                                            <p> <i class="far fa-star"></i> Teilnahmebedingungen</p>
                                        </a>
                                    </li>


                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/agb.html">
                                            <p> <i class="far fa-star"></i> AGB</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/disclaimer.html">
                                            <p> <i class="far fa-star"></i> Disclaimer</p>
                                        </a>
                                    </li>


                                </ul>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0">
                                <img src="../assets/images/layouts/jubelde-sumsi-schriftzug-1 (2).png"
                                    class="card-img-top rounded-circle" alt="sumsi">

                            </div>
                        </div>
                    </div>
                </div>
                <img class="pic-1 mt-5 mb-3" src="../assets/images/layouts/footer_top_strip.jpg" alt="line">

            </div>
        </div>
</body>

</html>