<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--  <link href="fontawesome-free-5.15.4/css/all.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!--load all styles -->
    <link rel="stylesheet" href="../css/Style.css">
    <title>Sumsi Malwettbewerb</title>
    <Link rel="icon" href="../assets/images/logo1.png">
</head>

<body>
    <div class="container-fluid">

        <!-- nav starts-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/images/logo/RLB_Logo_4c_NEW.jpg" alt="logo" width="100%" height="44"
                        class="d-inline-block align-text-top">

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="background-two link-container">
                                <a class="nav-link active link-two" aria-current="page"
                                    href="../index.html">HomePage</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="background-two link-container">

                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='/views/teilnahmebedingungen.html'">
                                    <img src="/assets/icons/germany.png" alt="deutsch">

                                </button>
                                <button type="button" class="btn btn-outline-warning"
                                    onclick="window.location.href='/views/teilnahmebedingungenEn.html'">
                                    <img src="/assets/icons/united-states.png" alt="english">

                                </button>
                            </div>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- nav ends -->
        <!-- container start -->
        <div class="container-fluid">
            <div class="row row4 mt-5">
                <div class="card mt-5 mb-5 col-md-6 shadow ">
                    <h1 class="title2">Conditions of participation for the Sumsi painting competition</h1>
                </div>
            </div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb mt-2">
                    <li class="breadcrumb-item"><a href="../index.html" class="a_breadcrumb-item">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Conditions of participation for the Sumsi
                        Painting competition</li>
                </ol>
            </nav>

            <div class="row d-flex justify-content-center">
                <div class=" card border-0 col-md-8">
                    <p>
                        Any parent who received a drawing of their child (the das
                        Has not yet reached the age of 14) using the contact form provided, the
                        Chance of the main prize and other great prizes.
                        All submitted drawings are shown in the large Sumsi gallery on <a href=""
                            style="font-size: 15px;"> www.raiffeisen-sumsi.at </a> published.
                    </p>
                    <p>
                        10 drawings are drawn from all submitted drawings. Wait for these 10 winners
                        great prices.
                    </p>
                    <p class="m-2">
                        By participating in the Sumsi painting competition, participants declare that they have the
                        following
                        I agree to the conditions of participation:
                    </p>
                    <ul style="list-style-type: none;">


                        <li>
                            <p> <i class="far fa-star"> </i> All natural persons are eligible. </p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"> </i> Participation in the painting competition is free,
                                voluntary and
                                independent of banking. The winners will be determined at random. the
                                The judges' decision is final. Profits cannot
                                redeemed, transferred or exchanged for cash. </p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"> </i> Participation via competition clubs or automated ones
                                Services is not permitted. Only one participation per person is possible. The
                                In the event of a win, the participant can receive the material prizes
                                accept within 4 weeks of electronic notification, after which it expires
                                this claim and the profit. </p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"> </i> The organizer assumes no liability for any
                                technical difficulties. </p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"> </i> The participant declares that his / her submission
                                for the painting competition (the drawing) does not violate the rights of third parties,
                                in particular
                                Copyright and personal rights, violates. He she
                                declares itself with the publication of the drawing in the context of the painting
                                competition or
                                expressly agree on the website of the organizer </p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"> </i> If other people are involved in the creation of the drawing
                                were involved or granted third parties exclusive rights to the submitted contribution
                                these must be dealt with with the submission and later
                                Agree to publication in the context of the painting competition. </p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"> </i> The organizer reserves the right in certain
                                Occasions by participants a written proof of the fulfillment of the above
                                to demand the requirements mentioned. Will the
                                Proof is not provided when requested, the participant can from the organizer of
                                be excluded from participation </p>
                        </li>
                        <li>
                            <p> <i class="far fa-star"> </i> The organizer reserves the right to
                                violates the conditions of participation, criminal laws or other regulations or
                                offend morality or by technical means
                                Manipulation try to influence the painting competition in some way, from now on
                                to exclude this. In the event of exclusion from the painting competition, this is the
                                case
                                Organizer free, the prizes also retrospectively
                                to recognize and reclaim.
                            </p>
                        </li>
                        <li>


                    </ul>
                </div>

            </div>
            <!-- footer -->
            <div class="row mt-5 ">
                <img class="pic-1 mt-5 mb-5" src="../assets/images/layouts/footer_top_strip.jpg" alt="line">
                <div class="card mb-3 mt-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <div class="card border-0">
                                <img src="../assets/images/layouts/jubelde-sumsi-schriftzug-1.png"
                                    class="card-img-top rounded-circle" alt="sumsi">

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning">
                            <div class="card-body">
                                <h5 class="card-title text-center title_footer mb-3">Contact</h5>
                                <p class="card-text"><i class="fa fa-map-marker-alt  fa-lg"
                                        aria-hidden="true"></i>&nbsp; Raiffeisen Landesbank Kärnten, Raiffeisenplatz 1
                                    9020 Klagenfurt am Wörthersee</p>

                                <p class="card-text">
                                    <i class="fa fa-phone fa-rotate-90 fa-lg" aria-hidden="true"></i> &nbsp; T +43 463
                                    993 00
                                </p>
                                <p class="card-text">
                                    <i class="far fa-envelope fa-lg" aria-hidden="true"></i> &nbsp;
                                    info@rbgk.raiffeisen.at
                                </p>


                                <a href="" class="btn btn-primary ">

                                    <i class="fab fa-facebook-square text-white rounded-circle fa-2x"></i> facebook
                                </a>

                            </div>
                        </div>
                        <div class="col-md-3 bg-warning ">
                            <div class="card-body">
                                <h4 class="card-title text-center title_footer mb-3">INFO/CONDITIONS</h4>
                                <ul style="  list-style-type: none;">
                                    <li>
                                        <a class="a_footer" href="/views/datenschutzhEn.html">
                                            <p> <i class="far fa-star"></i> Data protection notice</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/impressumEn.html">
                                            <p> <i class="far fa-star"></i> imprint</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/cookieEn.html">
                                            <p> <i class="far fa-star"></i>Cookie Policy</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer" href="/views/teilnahmebedingungenEN.html">
                                            <p> <i class="far fa-star"></i> Conditions of participation</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/agb.html">
                                            <p> <i class="far fa-star"></i> AGB</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="a_footer"
                                            href="https://www.raiffeisen.at/ktn/rlb/de/meine-bank/raiffeisen-bankengruppe/disclaimer.html">
                                            <p> <i class="far fa-star"></i> Disclaimer</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

</body>

</html>