<!-- title album -->
<section>
    <div class="row d-flex justify-content-center mt-2">
        <div class="col-md-8 text-center">
            <div class="card border-0">
                <div class="card-body" id="gall-title">
                    <img src="assets/images/layouts/title_bg.png" alt="line" class="">
                    <h2 class="card-title title2">Herzlich willkommen in der großen Sumsi-Galerie
                    </h2>
                    <h3 style="color: #c85239;"> Das sind die Kunstwerke der Teilnehmer des Wettbewerbes 2021.</h3>
                    <img src="assets/images/layouts/title_bg.png" alt="line" class="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- title album ends -->